html,
body,
main {
  height: 100%;
}

body {
  font-family: Quicksand, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit, serif;
}

button:hover {
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.small-text {
  font-size: small;
}

.gray-text {
  color: rgb(142, 142, 142);
}

.bg-light-gray {
  background-color: rgb(239, 239, 239);
}

.horz-padding {
  padding: 0 1rem;
}

.icon-button {
  background-color: transparent;
  border: none;
  font-size: xx-large;
  padding: 1rem;
}

.navbar {
  height: 5rem;
  background-color: rgb(99, 187, 255);
  justify-content: space-between;
}

.logo-wrapper {
  max-width: 400px;
  padding: 0.5rem;
}

.open-menu {
  color: rgb(255, 255, 255);
}

.close-menu {
  color: rgb(255, 255, 255);
  align-self: flex-end;
}

.all-sets {
  color: rgb(142, 142, 142);
}

.sm-icon {
  font-size: 1.5rem;
}

.change-title {
  font-size: 1rem;
}

.menu {
  background-color: rgb(255, 42, 40);
  color: white;
  width: 60%;
  position: fixed;
  top: 0;
  bottom: 0;
}

.tab {
  text-align: right;
  padding: 1rem;
  border-bottom: solid 2px rgb(255, 255, 255);
  position: relative;
  right: 0;
  transition: 0.7s;
}

.tab:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 42, 40);
  cursor: pointer;
}

.section-head {
  border-top: solid 2px rgb(142, 142, 142);
  background: linear-gradient(rgb(201, 201, 201), rgb(239, 239, 239) 60%);
  padding-left: 1rem;
}

.view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.to-bottom {
  height: 100%;
}

.no-sets {
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(239, 239, 239);
  box-shadow: 0 4px 5px 0 rgb(142, 142, 142);
  width: 9rem;
  height: 13rem;
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
  margin: 0.5rem;
}

.card-image {
  width: 100%;
}

.pokemon-name-editing {
  font-size: x-large;
  padding: 0 0.5rem;
  margin: 0;
}

.dropdown {
  height: 1.5rem;
  width: 10rem;
  border: 1px solid rgb(142, 142, 142);
}

/* pokeball card */

.card.pokeball {
  padding: 0;
}

.red-half {
  background-color: rgb(255, 42, 40);
  height: 50%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.white-half {
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mid-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.mid-stripe {
  width: 40%;
  height: 5px;
  background-color: rgb(0, 0, 0);
}

.center-circle {
  padding: 0.7rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
}

/* end of pokeball card */
