button:hover {
  cursor: pointer;
}

.icon-button {
  background-color: transparent;
  border: none;
  font-size: xx-large;
}

.navbar {
  height: 5rem;
  background-color: rgb(99, 187, 255);
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.logo-wrapper {
  max-width: 400px;
  padding: 0.5rem;
}

.open-menu {
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.close-menu {
  color: rgb(255, 255, 255);
  align-self: flex-end;
  padding: 1rem;
}

.menu {
  background-color: rgb(255, 42, 40);
  color: white;
  width: 60%;
  position: fixed;
  top: 0;
  bottom: 0;
}

.tab {
  text-align: right;
  padding: 1rem;
  border-bottom: solid 2px rgb(255, 255, 255);
  position: relative;
  right: 0;
  transition: 0.7s;
}

.tab:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 42, 40);
  cursor: pointer;
}
